version: '3'
services:
  visplot:
    container_name: visplot
    build:
      context: ./setup/
      dockerfile: Dockerfile
    restart: always
    ports:
      - 8888:80
    volumes:
      - ./visplot/:/var/www/html/
